<header>
  <div class="logo">
    <img src="../assets/globotask.png" alt="logo globotask" />
    <div class="logo-text">
      <h1>Globo<span class="especial">Tasks</span></h1>
      <h4>Cada tarefa concluída é um passo para o sucesso</h4>
    </div>
  </div>

  <nav class="menu-lateral" aria-label="Menu lateral">
    <ul>
      <li class="icon-list"><a href="../html/listas.html"></a></li>
      <li class="icon-user"><a href="../html/usuarios.html"></a></li>
      <li class="icon-add-user"><a href="../html/cria-user.html"></a></li>
      <li class="icon-config"><a href="../html/conta.html"></a></li>
    </ul>
  </nav>
</header>
